<html>
<head>
  <title>PDF Personalisierung</title>
</head>
<body>
<h3>PDF Personalisierung - PDF herunterladen</h3>
Original Url: <%= @pdfReg.originalPdfUrl %><br>
Beschreibung: <%= @pdfReg.beschreibung %><br>
Downloads melden an: <%= @pdfReg.email %><br>
<br>
Download ID des registrierten PDF Dokuments: <%= @pdfReg.downloadPdfId %><br>
</body>
</html>